// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background-color: #00091D;
  padding: 2rem 0;
}

.footer__text {
  font-weight: 500;
  font-size: 87.5%;
  line-height: 1.6rem;
  text-align: center;
  color: #fff;
}